.reveal .slide-logo {
  height: 100px !important;
  width: 140px !important;
  max-width: unset !important;
  max-height: unset !important;
}

.upper{
  position: absolute;
  top:0px;
}

.relative{
  position: relative;
}

.space{
  height: 25px;
}

.red {
  color: red;
  font-weight: bold;
}

.bigtable {
  font-size:smaller;
  height: 80%;
  overflow: auto;
}
